<%- include('navbar-footer/navbar') %>


  <div class="hero-container">
    <h1 class="main-text">
      Secure Your Digital Assets With <br> Our <span class="inner-text">Comprehensive Services.</span>
    </h1>
    <p class="small-text">
      We offer a comprehensive suite of services to help you protect your digital <br> assets and reduce your security
      risks.
    </p>

    <!-- <div class="wave-svg">
        <img src="/public/images/wave.png">
      </div> -->
  </div><br><br>



  <!-- background/public/images -->


  <div class="eclips1">

  </div>

  <div class="eclips2">

  </div>

  <!-- <div class="square">
        <img src="/public/images/Rectangle1.svg">
      </div> -->

  <div class="eclips3">

  </div>

  <!-- <div class="eclips4">

      </div> -->

  <div class="service-eclips4">

  </div>

  <div class="service-eclips5">

  </div>

  <div class="service-eclips6">

  </div>

  <div class="service-eclips7">

  </div>

  <!--   <div class="eclips5">

      </div>

      <div class="eclips6">

      </div>

      <div class="eclips7">

      </div>

      <div class="eclips8">

      </div>

      <div class="eclips9">

      </div> -->
  <!-- 
      <div class="background1">

      </div> -->

  <!-- <div class="circle">
        <img src="/public/images/circle1.svg">
      </div> -->





  <!-- background/public/images End -->

  <!-----  services section  -->

  <div class="services">

    <div class="service-card" id="VSPT">
      <div class="image">
        <img src="/public/images/services/1.svg">
      </div>
      <div class="text">
        <h3 class="card-heading">Vulnerability assesment and Penetration Testing</h3>
        <p class="card-text">
          VAPT services are for organisation who want to detect and fix security weaknesses in Web-Apps, networks, and
          publicly facing systems, safeguarding organizations from financial and reputational harm.
        </p>
        <a href="/contact-us">
          <div class="see-more-btn">
            <p class="see-text">read more</p>
            <img src="/public/images/arrow.svg">
          </div>
        </a>
      </div>
    </div>

    <div class="service-card2" id="MAPT">
      <div class="text">
        <h3 class="card-heading">Mobile Application Penetration Testing</h3>
        <p class="card-text">
          For sensitive mobile apps, this service safeguards customer data. Vulnerable Android or Web Apps pose equal
          security risks for customer information. Ideal for organizations handling critical functionalities and data.
        </p>
        <a href="/contact-us">
          <div class="see-more-btn">
            <p class="see-text">read more</p>
            <img src="/public/images/arrow.svg">
          </div>
        </a>
      </div>
      <div class="image">
        <img src="/public/images/services/2.svg">
      </div>
    </div>

    <div class="service-card" id="IPT">
      <div class="image">
        <img src="/public/images/services/3.svg">
      </div>
      <div class="text">
        <h3 class="card-heading">Infrastructure Penetration Testing</h3>
        <p class="card-text">
          Network growth enhances applications, services, devices, and storage, demanding extensive vulnerability
          tracking for enterprises. Infrastructure testing ensures real-world security, monitor servers, devices,
          domains, IPs, and services in staging and production systems.
        </p>
        <a href="/contact-us">
          <div class="see-more-btn">
            <p class="see-text">read more</p>
            <img src="/public/images/arrow.svg">
          </div>
        </a>
      </div>
    </div>

    <div class="service-card2" id="MAPT">
      <div class="text">
        <h3 class="card-heading">Mobile Application Penetration Testing</h3>
        <p class="card-text">
          For sensitive mobile apps, this service safeguards customer data. Vulnerable Android or Web Apps pose equal
          security risks for customer information. Ideal for organizations handling critical functionalities and data.
        </p>
        <a href="/contact-us">
          <div class="see-more-btn">
            <p class="see-text">read more</p>
            <img src="/public/images/arrow.svg">
          </div>
        </a>
      </div>
      <div class="image">
        <img src="/public/images/services/4.svg">
      </div>
    </div>

    <div class="service-card">
      <div class="image">
        <img src="/public/images/services/5.svg">
      </div>
      <div class="text">
        <h3 class="card-heading">Infrastructure Penetration Testing</h3>
        <p class="card-text">
          Network growth enhances applications, services, devices, and storage, demanding extensive vulnerability
          tracking for enterprises. Infrastructure testing ensures real-world security, monitor servers, devices,
          domains, IPs, and services in staging and production systems.
        </p>
        <a href="/contact-us">
          <div class="see-more-btn">
            <p class="see-text">read more</p>
            <img src="/public/images/arrow.svg">
          </div>
        </a>
      </div>
    </div>

    <div class="service-card2">
      <div class="text">
        <h3 class="card-heading">Mobile Application Penetration Testing</h3>
        <p class="card-text">
          For sensitive mobile apps, this service safeguards customer data. Vulnerable Android or Web Apps pose equal
          security risks for customer information. Ideal for organizations handling critical functionalities and data.
        </p>
        <a href="/contact-us">
          <div class="see-more-btn">
            <p class="see-text">read more</p>
            <img src="/public/images/arrow.svg">
          </div>
        </a>
      </div>
      <div class="image">
        <img src="/public/images/services/6.svg">
      </div>
    </div>

    <div class="service-card">
      <div class="image">
        <img src="/public/images/services/7.svg">
      </div>
      <div class="text">
        <h3 class="card-heading">Infrastructure Penetration Testing</h3>
        <p class="card-text">
          Network growth enhances applications, services, devices, and storage, demanding extensive vulnerability
          tracking for enterprises. Infrastructure testing ensures real-world security, monitor servers, devices,
          domains, IPs, and services in staging and production systems.
        </p>
        <a href="/contact-us">
          <div class="see-more-btn">
            <p class="see-text">read more</p>
            <img src="/public/images/arrow.svg">
          </div>
        </a>
      </div>
    </div>

    <div class="service-card2">
      <div class="text">
        <h3 class="card-heading">Mobile Application Penetration Testing</h3>
        <p class="card-text">
          For sensitive mobile apps, this service safeguards customer data. Vulnerable Android or Web Apps pose equal
          security risks for customer information. Ideal for organizations handling critical functionalities and data.
        </p>
        <a href="/contact-us">
          <div class="see-more-btn">
            <p class="see-text">read more</p>
            <img src="/public/images/arrow.svg">
          </div>
        </a>
      </div>
      <div class="image">
        <img src="/public/images/services/8.svg">
      </div>
    </div>

    <div class="service-card">
      <div class="image">
        <img src="/public/images/services/9.svg">
      </div>
      <div class="text">
        <h3 class="card-heading">Infrastructure Penetration Testing</h3>
        <p class="card-text">
          Network growth enhances applications, services, devices, and storage, demanding extensive vulnerability
          tracking for enterprises. Infrastructure testing ensures real-world security, monitor servers, devices,
          domains, IPs, and services in staging and production systems.
        </p>
        <a href="/contact-us">
          <div class="see-more-btn">
            <p class="see-text">read more</p>
            <img src="/public/images/arrow.svg">
          </div>
        </a>
      </div>
    </div>

  </div><br><br><br>

  <!-- Schudule Card -->


  <div class="schudule-card">
    <img class="bg-img" src="/public/images/wave2.png">
    <p class="schudule-text">
      Don't Wait for a Breach! Schedule a Free <span class="inner-text"> Cybersecurity </span> Consultation Today.
    </p>
    <div class="btn">

      <a href="/contact-us">
        <p class="text">Talk To Expert</p>
      </a>
    </div>
  </div>

  <!-- Footer -->

  <%- include('navbar-footer/footer') %>