<footer>
  <div class="footer">
    <div class="footer-logo-section">
      <div class="name-logo">
        <img class="image" src="/public/images/logo.svg">
        <h3 class="name">Snapsec</h3>
      </div>

      <p class="text">
        Stay Safe Online with Us: Your Trusted Cybersecurity Partner.
      </p>
    </div>

    <div class="footer-content">
      <h3 class="name">
        Company
      </h3>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="https://snapsec.co/blog" target="_blank">Blog</a>
        </li>
        <li>
          <a href="#">Case Studies</a>
        </li>
        <!-- <li>
          <a href="https://snapsec.co/blog/">Our Blog</a>
        </li> -->
        <li>
          <a href="#">Terms & Conditions</a>
        </li>
      </ul>
    </div>

    <div class="footer-content">
      <h3 class="name">
        Services
      </h3>
      <ul class="properties">
        <li>
          <a href="/services#VSPT">Vulnerability assesment and Penetration Testing</a>
        </li>
        <li>
          <a href="/services#MAPT">Mobile Application Penetration Testing</a>
        </li>
        <li>
          <a href="/services#IPT">Infrastructure Penetration Testing</a>
        </li>
      </ul>
    </div>

    <div class="footer-content">
      <h3 class="name">
        Products
      </h3>
      <ul class="properties">
        <li>
          <a href="/products/csm">Vulnerability Management</a>
        </li>
        <li>
          <a href="#">Attack Surface Management </a>
        </li>
        <li>
          <a href="#">Vulnerability Disclosure Programme</a>
        </li>

      </ul>
    </div>

    <div class="footer-content">
      <h3 class="name">
        Contact Us
      </h3>
      <ul class="properties">
        <li>
          <a href="#">Address: Snapsec - Office 1098C, 182-184 High Street North, East Ham, London E6 2JA, U</a>
        </li>
        <li>
          <a href="#">Phone UK: +441917431771</a>
        </li>
        <li>
          <a href="#">Phone IN: +917780908136</a>
        </li>
      </ul>
    </div>

  </div>
</footer>

</div>

</body>

</html>