<div class="testimonials">
  <h1 class="testimonials-heading">
    What Our Customers Say <br>about our <span class="inner-text">Solutions</span>
  </h1>
  <p class="testimonials-text">
    We offer a comprehensive suite of services to help you protect your digital assets and reduce your security risks.
  </p>
</div>

<div class="upper-card">
  <div class="testimonial-cards">
    <div class="card-upper">
      <div class="testimonial-card">
        <img class="image" src="/public/images/testimonials/zaid.png">
        <h3 class="name">Zaid Ashraf</h3>
        <p class="role">Security Engineer <span class="company">@Accenture</span></p>
        <p class="detail">
          Snapsec delivers top-notch pentesting services with a streamlined and in-depth approach of finding
          vulnerabilities. Their quality of work in uncovering all classes of vulnerabilities is exceptional. A true
          cybersecurity partner!
        </p>
      </div>
    </div>

    <div class="card-upper">
      <div class="testimonial-card">
        <img class="image" src="/public/images/testimonials/nabil.png">
        <h3 class="name">Nabil Khan</h3>
        <p class="role">Product Security Engineer <span class="company">@ Pixelbin</span></p>
        <p class="detail">
          I found the service to be professional and efficient.The testing was conducted in a thorough manner and
          provided useful insights into our security vulnerabilities.
        </p>
      </div>
    </div>

    <div class="card-upper">
      <div class="testimonial-card">
        <img class="image" src="/public/images/testimonials/elad.png">
        <h3 class="name">Elad Shlomo</h3>
        <p class="role">Security Engineer <span class="company">@Hibob</span></p>
        <p class="detail">
          Snapsec's security research goes beyond the OWASP top 10. They conduct in-depth examinations and identify
          and report issues that extend beyond the surface level, delving into the core of the application.
        </p>
      </div>
    </div>

    <div class="card-upper">
      <div class="testimonial-card">
        <img class="image" src="/public/images/testimonials/ali.png">
        <h3 class="name">Ali Al Washali</h3>
        <p class="role">Cyber Security Consultant <span class="company">@ Accenture</span></p>
        <p class="detail">
          Snapsec delivered outstanding services. Their professional support throughout the assessment was exemplary,
          and their communication during the test was flawless. Highly recommended for top-notch cybersecurity
          services.
        </p>
      </div>
    </div>

    <div class="card-upper">
      <div class="testimonial-card">
        <img class="image" src="/public/images/testimonials/farzona.png">
        <h3 class="name">Farzona Murodova</h3>
        <p class="role">Project Manager <span class="company">@ Alif</span></p>
        <p class="detail">
          Snapsec's process is swift and transparent. The team's constant online support clarifies issues seamlessly.
          Exceptional service—highly recommended for a stress-free experience.
        </p>
      </div>
    </div>
  </div>
  <div class="testimonial-cards">
    <div class="card-upper">
      <div class="testimonial-card">
        <img class="image" src="/public/images/testimonials/zaid.png">
        <h3 class="name">Zaid Ashraf</h3>
        <p class="role">Security Engineer <span class="company">@Accenture</span></p>
        <p class="detail">
          Snapsec delivers top-notch pentesting services with a streamlined and in-depth approach of finding
          vulnerabilities. Their quality of work in uncovering all classes of vulnerabilities is exceptional. A true
          cybersecurity partner!
        </p>
      </div>
    </div>

    <div class="card-upper">
      <div class="testimonial-card">
        <img class="image" src="/public/images/testimonials/nabil.png">
        <h3 class="name">Nabil Khan</h3>
        <p class="role">Product Security Engineer <span class="company">@ Pixelbin</span></p>
        <p class="detail">
          I found the service to be professional and efficient.The testing was conducted in a thorough manner and
          provided useful insights into our security vulnerabilities.
        </p>
      </div>
    </div>

    <div class="card-upper">
      <div class="testimonial-card">
        <img class="image" src="/public/images/testimonials/elad.png">
        <h3 class="name">Elad Shlomo</h3>
        <p class="role">Security Engineer <span class="company">@Hibob</span></p>
        <p class="detail">
          Snapsec's security research goes beyond the OWASP top 10. They conduct in-depth examinations and identify
          and report issues that extend beyond the surface level, delving into the core of the application.
        </p>
      </div>
    </div>

    <div class="card-upper">
      <div class="testimonial-card">
        <img class="image" src="/public/images/testimonials/ali.png">
        <h3 class="name">Ali Al Washali</h3>
        <p class="role">Cyber Security Consultant <span class="company">@ Accenture</span></p>
        <p class="detail">
          Snapsec delivered outstanding services. Their professional support throughout the assessment was exemplary,
          and their communication during the test was flawless. Highly recommended for top-notch cybersecurity
          services.
        </p>
      </div>
    </div>

    <div class="card-upper">
      <div class="testimonial-card">
        <img class="image" src="/public/images/testimonials/farzona.png">
        <h3 class="name">Farzona Murodova</h3>
        <p class="role">Project Manager <span class="company">@ Alif</span></p>
        <p class="detail">
          Snapsec's process is swift and transparent. The team's constant online support clarifies issues seamlessly.
          Exceptional service—highly recommended for a stress-free experience.
        </p>
      </div>
    </div>
  </div>
</div>
